<ul class="socials">
	{% for item in site.data.settings.social_settings %}
		{% if item[1] != '' %}
		  {% if item[0] contains '_url' %}
				{% assign url   = item[1] %}
				{% assign title = item[0] | remove: '_url' | replace: '-', ' ' | capitalize %}
				{% assign icon  = item[0] | remove: '_url' | replace: 'facebook', 'facebook-f' | prepend: 'fab fa-' %}
			{% else %}
				{% assign url   = item[1].url %}
				{% assign title = item[0] | replace: '-', ' ' | capitalize %}
				{% assign icon  = item[1].icon %}
			{% endif %}
			<li class="socials__item">
				<a href="{{ url }}" target="_blank" class="socials__item__link" title="{{ title }}">
					{% if icon contains 'fa-' %}
						<i class="{{ icon }}" aria-hidden="true"></i>
					{% else %}
						{{ icon }}
					{% endif %}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
