.comments {
  margin-top: 3em;
	margin-left: auto;
	margin-right: auto;

	@include mq(tabletl) {
		max-width: 80%;
	}

	@include mq(laptop) {
		max-width: 75%;
	}

	@include mq(desktop) {
		max-width: 70%;
	}
}
